download
*.jar*
maven-metadata*
maven-releases
cmd/n3dr/n3dr
cmd/n3dr/n3dr.sha512.txt
!cmd/n3dr/*.go
*.out*
*.pom*
REPO_NAME_HOSTED_APT/
.snapcraft
*.snap
start.sh
test/gpg/my_rsa_key
test/gpg/output/
vendor
.vscode
*.zip
coverage.txt
*.snap.xdelta3
.vagrant
virtualbox*
*.exe
swagger
swagger.json
*.log
