---
name: Integration
'on':
  push:
    branches-ignore:
      - dependabot/**
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4.1.4
      - uses: actions/setup-go@v5.0.0
        with:
          go-version-file: 'go.mod'
          cache: false
      - name: Install bats
        run: |
          set -x
          sudo apt-get update
          sudo apt-get install bats -y
      - name: Integration test
        run: |
          ./test/integration-tests.sh
        env:
          N3DR_DELIVERABLE: ${{ env.n3dr-deliverable }}
          NEXUS_VERSION: ${{ matrix.nexus-version }}
          N3DR_APT_GPG_SECRET: ${{ secrets.N3DR_APT_GPG_SECRET }}
