---
name: snapcraft
'on':
  push:
    tags:
      - 7.**
jobs:
  release:
    uses: ./.github/workflows/release.yml
  snapcraft:
    needs: [release]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4.1.4
        with:
          ref: main
      - uses: snapcore/action-build@v1.2.0
        with:
          path: build/package
        id: snapcraft
      - run: |
          snap --version
          echo "check ldd version"
          ldd --version
          sudo snap install --dangerous ${{ steps.snapcraft.outputs.snap }}
          n3dr --version | grep "[0-9]\."
      - uses: snapcore/action-publish@v1.2.0
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_LOGIN }}
        with:
          snap: ${{ steps.snapcraft.outputs.snap }}
          release: stable
