---
name: SonarCloud
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Unit test
        run: |
          go test -short -cover -v -coverprofile=coverage.txt \
          -covermode=atomic ./...
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.organization=030-github
            -Dsonar.projectKey=030_n3dr
            -Dsonar.sources=.
            -Dsonar.coverage.exclusions=**/*_test.go
            -Dsonar.verbose=true
            -Dsonar.go.coverage.reportPaths="coverage.txt"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
